---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<script></script>

<BaseLayout>
  <p>Voeg jouw unieke code aan de url toe als volgt:</p>
  <pre>oploss.in/g/123xyz</pre>
</BaseLayout>
